<!-- Event Section -->
    <section id="event">
        <div class="container gap">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The event</h2>
                    <p>
                        The Bitcoin Research Day is dedicated to academic research that benefits Bitcoin, aimed to bring together researchers and developers. The event will consist of talks and open discussions on cryptography, P2P networks, and more.
                    </p>
                    <p>
                        We invite early-career academics and developers to join us and give <a href="#lightning-talks">lightning talks</a>.
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="https://forms.gle/uzzpeNThWCEJUNf26" class="page-scroll btn btn-xl" target="_blank">Sign-up here</a>
                </div>
            </div>
        </div>      
    </section>