<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The event</h2>
                </div>
            </div>
            <div class="row container">
                <p>
                    The Bitcoin Research Day is dedicated to academic research that benefits Bitcoin. The event will have two parts: presentations and open table discussions. 
                    There will be a list of invited speakers. Attendees should apply. The goals of this day are the following:
                </p>
                    <ul>
                        <li>Bring together researchers and developers</li>
                        <li>Initiate collaborations</li>
                        <li>Recognize outstanding work</li>
                    </ul>
                </p>
                <p>
                    Invited speakers and participants:
                </p>
                    <ul>
                        <li>Leading academics that have been studying Bitcoin (Dan Boneh, Victor Shoup, Ittay Eyal, Neha Nerula, Shafi Goldwasser, Eli Ben Sasson, etc.)</li>
                        <li>Research oriented developers (Pieter Wuille, Tim Ruffing, Tadge Dryja, Ethan Heilman, Yehuda Lindel, Blue Matt, etc.)</li>
                        <li>PhD students and earlier-career academics (post docs, young faculty)</li>
                    </ul>
            </div>
        </div>
        <br>
    </section>