---
layout: default
permalink: /agenda
title: Tentative Agenda
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
        <br>
        {% if site.data.agenda == false %}
        <h2>AGENDA TBD</h2>
        {% else %}
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>
                </tr>
            </thead>
            {% for agenda in site.data.agenda %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    {% if agenda.speaker.first %}
                        <td>
                        {% for item in agenda.speaker %}
                            <br><b>{{ item }}</b><br>{{ agenda.topic[forloop.index0] }}<br>
                        {% endfor %}
                        <br>
                        </td>
                    {% else %}
                        {% if agenda.speaker %}
                            <td><br><b>{{ agenda.speaker }}</b><br>{{ agenda.topic }}<br><br></td>
                        {% else %}
                            <td><br>{{ agenda.topic }}<br><br></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>