---
layout: default
permalink: /prize
title: Bitcoin Research Prize
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
        <h1>{{ page.title }}</h1>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h2>What is this?</h2>
                <p>
                    The Bitcoin research prize is an award to recognize outstanding results that advance Bitcoin and the Lightning Network. <br> 
                    The results can be in cryptography, theoretical computer science, network theory, economics and neighboring fields.<br>
                    A committee of leading researchers will choose the winners annually
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h2>Criteria for nomination</h2>
                <p>
                    Accepted to a peer-reviewed venue<br>
                    Published after January 1st, 2020<br>
                    Relevant to Bitcoin or the Lightning Network
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h2>Prize Committee</h2>
                <p>TBD</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h2>Q&A</h2>
                <p><b>How related to Bitcoin/LN does the paper need to be?</b></p>
                <p>
                    The paper does not need to be Bitcoin or Lightning Network focused, being applicable is enough.<br>
                    General results with wide influence are excellent candidates</p>
                <p><b>Is self nomination allowed?</b></p>
                <p>Yes. Note that the “Nominator” field in the submission form is optional</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="https://forms.gle/5BV9UpCqjrn146ez5" class="page-scroll btn btn-xl" target="_blank">Submit your nominations here</a>
            </div>
        </div>
        <br>
        <br>
        <h1>Previous editions</h1>
        <br>
        <div class="accordion" id="previous-prizes">
            <div class="panel no-shadow">
            {% for edition in site.data.prizes %}
            <button class="btn btn-prev" type="button" data-parent="#previous-prizes" data-toggle="collapse" data-target="#{{ edition.year }}" aria-expanded="false" aria-controls="{{ edition.year }}">{{ edition.year }}</button>
            {% if forloop.first %}
            <div id="{{ edition.year }}" class="panel-collapse collapse in">
            {% else %}
            <div id="{{ edition.year }}" class="panel-collapse collapse">
            {% endif %}
                <ul>
                    <h3>Prize Committee</h3>
                    {% for member in edition.committee %}
                    <ol> {{ member[0] }} ({{ member[1] }})</ol>
                    {% endfor %}
                    <h3>Prize Winner</h3>
                    <ol>{{ edition.winners[0] }} by <b>{{ edition.winners[1] }}</b></ol>
                </ul>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>