<!-- Research Price Section -->
    <section id="prize">
        <div class="container gap">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bitcoin Research Prize</h2>
                    <p>
                        The Bitcoin research prize is an award to recognize outstanding results that advance Bitcoin and the Lightning Network. <br>
                        The results can be in cryptography, theoretical computer science, network theory, economics and neighboring fields.<br>
                        A committee of leading researchers will choose the winners annually
                    </p>
                </div>
            </div>

            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-xl" href={{ site.url }}{{ site.baseurl }}/prize class="page-scroll btn btn-xl" target="_blank">Nomination criteria & submissions</a>
                </div>
            </div>
        </div>
    </section>