<!DOCTYPE html>
<html>

  {% include data/head.html %}


    <body id="page-top" class="index">

    {% include data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Bitcoin Research Day<br></div>
                <div class="intro-lead-in">27th October 2023</div>
                <div class="intro-lead-in">Midtown NYC</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include data/intro.html %}
    {% include data/about.html %}
    {% include data/speakers.html %}
    {% include data/lightning-talks.html %}
    {% include data/footer.html %}
    {% include data/speakers_info.html %}
    {% include data/js.html %}

    </body>
</html>