<!DOCTYPE html>
<html>

  {% include data/head.html %}


    <body id="page-top" class="index">

    {% include data/header-home.html %}

    <!-- Header -->
    <header>
        <div id="home" class="container">
            <div class="event-text">
                <div class="event-heading">Bitcoin Research Day</div>
                <div class="event-lead-in">22nd November 2024</div>
                <div class="event-lead-in">Midtown NYC</div>
                <a href="#event" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include data/event.html %}
    {% include data/prize.html %}
    {% comment %}
    {% include data/format.html %}
    {% endcomment %}
    {% include data/speakers.html %}
    {% include data/speakers_info.html %}
    {% include data/lightning-talks.html %}
    {% include data/footer.html %}
    {% include data/js.html %}

    </body>
</html>